.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.cards-cardLesson {
  text-align: center;
  margin-top: 10px;
  display: block;
  width: 250px;
  height: 250px;
  background: bisque;
  list-style-type: none;
  margin: 10px;
  padding: auto 0;
}

.cards-cardLesson:hover {
  cursor: pointer;
  border: 2px solid rgb(218, 153, 221);
  border-radius: 50% 20% / 10% 40%;
  margin: 8px;
}

.cards-cardLesson-numLesson {
  margin-top: 50px;
  color: blueviolet;
  font: small-caps bold 20px/1 sans-serif;
}

.cards-cardLesson-numLesson:hover {
  cursor: pointer;
  text-decoration: underline;
}

.cards-cardLesson-nameLesson {
  padding: 15px;
  font: italic small-caps bold 20px/2 cursive;
}
