.header {
  display: flex;
  justify-content: space-between;
  color: blueviolet;
  text-align: right;
  box-shadow: 20px 20px 50px white inset;
  background-color: rgb(253, 242, 228);

  margin: 0;
  max-width: 100%;
  font: italic small-caps bold 20px/2 cursive;
}

#icon-menu {
  font-size: 30px;
}

#icon-menu:hover {
  color: rgb(220, 180, 216);
  box-shadow: 0 3px #8a2be2;
}

.header-icon {
  padding-top: 35px;
  padding-left: 50px;
  scale: 2;
}

.header-name {
  padding-right: 50px;
}
