.footer {
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
  text-align: right;
  background-color: rgb(253, 237, 217);
  padding: 2px;
  padding-right: 50px;
  margin: 0;
  font-size: 10px;
}

.footer-text {
  margin: 0;
}
